* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex_inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.flex_h {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex_v {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex_aic {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex_ais {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.flex_aib {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.flex_ait {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex_jcc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex_jcr {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex_jcl {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.flex_nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.fnone {
  -webkit-box-flex: none;
  -ms-flex: none;
  flex: none;
}
.f0 {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}
.f1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.f2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.f3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.f4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.f5 {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}
.f6 {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
}
.f7 {
  -webkit-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
}
.f8 {
  -webkit-box-flex: 8;
  -ms-flex: 8;
  flex: 8;
}
.flex_inverse_order {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse wrap-reverse;
  flex-flow: row-reverse wrap-reverse;
}
body {
  padding: 30px;
}
.frame {
  border: 2px solid #333;
  border-radius: 0.5em;
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}
.frame .row_frame {
  display: grid;
  grid-template-columns: auto auto;
  border-collapse: collapse;
}
.frame .row_frame .column_frame {
  padding: 0.7em;
  border-collapse: collapse;
}
.frame .row_frame .column_frame .title {
  margin-bottom: 0.4em;
  color: #333;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1em;
}
.frame .row_frame .column_frame .title_column {
  margin-bottom: 0;
  text-align: center;
}
.frame .row_frame .column_frame .title_list {
  text-align: left;
  font-size: 0.9em;
}
.frame .row_frame .column_frame .values .value {
  margin-bottom: 0.4em;
  color: #999;
  font-size: 1em;
  line-height: 1em;
}
.frame .row_frame .column_frame .values .value:last-of-type {
  margin-bottom: 0;
}
.frame .row_frame .column_frame_nopad {
  padding: 0;
}
.frame .row_frame .row_in_column {
  border: 1px solid #CCC;
  padding: 0.7em;
  border-collapse: collapse;
}
.frame .row_frame .row_in_column .title {
  margin-bottom: 0.4em;
  color: #333;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1em;
}
.frame .row_frame .row_in_column .title_column {
  margin-bottom: 0;
  text-align: center;
}
.frame .row_frame .row_in_column .title_list {
  text-align: left;
  font-size: 0.9em;
}
.frame .row_frame .row_in_column .values {
  padding-left: 1em;
}
.frame .row_frame .row_in_column .values .value {
  margin-bottom: 0.4em;
  color: #999;
  font-size: 1em;
  line-height: 1em;
}
.frame .row_frame .row_in_column .values .value:last-of-type {
  margin-bottom: 0;
}
.frame .row_frame_1 {
  display: grid;
  grid-template-columns: 33.33% 66.66%;
}
.frame .row_frame_1 .column_frame {
  border-bottom: 1px solid #CCC;
}
.frame .row_frame_1 .column_frame_1 {
  border-right: 1px solid #CCC;
}
.frame .row_frame_2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.frame .row_frame_2 .column_frame {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.frame .row_frame_2 .column_frame .title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}
.frame .row_frame_2 .column_frame .values {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  padding-left: 3em;
}
.frame .row_frame_3 {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.frame .row_frame_3 .r1c1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.frame .row_frame_3 .r2c1 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.frame .row_frame_3 .r3c1 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.frame .row_frame_3 .r4c1 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}
.frame .row_frame_3 .r1c2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
.frame .row_frame_3 .r2c2 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
.frame .row_frame_3 .r3c2 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}
.frame .row_frame_3 .r1c3 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}
.frame .row_frame_3 .r2c3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.frame .row_frame_3 .r3c3 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}
.frame .row_frame_3 .r4c3 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}
.footer {
  font-size: small;
  color: gray;
  padding: 5px;
}
.footer a {
  text-decoration: none;
  color: black;
}